
.countries {
    stroke: #fff;
}

.legend rect {
    stroke: #000;
}

.legend, .legend-title text{
    font-size:10pt;
}

.barlabel {
    font-size:8pt;
    text-anchor: middle;
}

svg{
    background: #ffffff;
}

.country {
    fill:#6EC1F8;
    stroke: #2F56E9;
    stroke-width: 0.5;
}

.selected{
    fill: #3081EE;
}
